.social {
  &__wrapper {
    @include flex-center-column;
    &.menu {
      margin: 20px 0 0;
      padding-bottom: 0;
      border: none;
    }
  }
  &__title {
    @include section-subtitle-small;
    color: var(--primary-white);
    font-weight: 500;
    text-align: start;
    width: 100%;
    @media (max-width: 640px) {
      text-align: center;
    }
  }
  &__list {
    @include flex-center-row;
    gap: min(10px, 2vw);
    list-style: none;
    padding: 0;
    margin: 0;
    &.menu {
      gap: 20px;
    }
    &.footer {
      @include flex-center-column;
      align-items: flex-start;
      @media (max-width: 640px) {
        flex-direction: row;
      }
    }
  }
  &__item {
    @include flex-center-row;
    opacity: 0.8;
    transition: $app-transition;
    text-decoration: none;
    &.menu {
      opacity: 0.9;
    }
    &:hover {
      opacity: 1;
      transition: $app-transition;
    }
  }
  &__icon {
    width: min(35px, 7vw);
    height: min(35px, 7vw);
  }
  &__label {
    display: block;
    margin-left: 10px;
    color: var(--color-grey);
    font-size: 14px;
    @media (max-width: 640px) {
      display: none;
    }
  }
}
