.first {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: url("@/assets/images/background/mainV.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 0;
  // Фон по умолчанию для портретной ориентации
  // background-image: url("./assets/images/background/mainV.webp");
  background-image: -webkit-image-set(
    url("@/assets/images/background/mainV.webp") type("image/webp")
  );

  // Медиа-запрос для альбомной ориентации
  @media (orientation: landscape) and (min-width: 601px) {
    // background-image: url("./assets/images/background/mainH.webp");
    background-image: -webkit-image-set(
      url("@/assets/images/background/mainH.webp") type("image/webp")
    );
  }

  // Для мобильных устройств можно добавить дополнительные проверки
  @media (max-aspect-ratio: 3/4) {
    // Соотношение сторон как у смартфона
    // background-image: url("./assets/images/background/mainV.webp");
    background-image: -webkit-image-set(
      url("@/assets/images/background/mainV.webp") type("image/webp")
    );
  }

  @media (min-aspect-ratio: 4/3) {
    // Соотношение сторон как у планшета/десктопа
    // background-image: url("./assets/images/background/mainH.webp");
    background-image: -webkit-image-set(
      url("@/assets/images/background/mainH.webp") type("image/webp")
    );
  }
  &__title {
    @include main-title;
    color: var(--text-h);
  }
  &__description {
    color: var(--text-h);
  }
}
