// Брейкпоинты
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Header
$header-desktop: min(70px, 12vw);

$border-radius: min(20px, 5vw);

// TRANSITIONS
$app-transition: all 0.3s ease;
$ease-out-expo: cubic-bezier(0.16, 1, 0.3, 1);

// PADDINGS
$section-padding: min(100px, 15vw) 20px;


