.about {
  &__item {
    position: relative;
    width: 90%;
    margin: 0 auto 40px;
    padding: 1px; // толщина бордюра
    border-radius: 16px;
    background: linear-gradient(135deg, #0077b6, #00b4d8, #48cae4, #90e0ef);
    background-size: 300% 300%;
    animation: seaWave 4s ease infinite;
    transition: transform 0.3s ease;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
  &__body {
    background:
      radial-gradient(
        at 96.49283077073736% 42.87202481763821%,
        hsla(211.03448275862067, 56.862745098039284%, 90%, 1) 0%,
        hsla(211.03448275862067, 56.862745098039284%, 90%, 0) 100%
      ),
      radial-gradient(
        at 21.072147853117418% 8.332825325753301%,
        hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 1) 0%,
        hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 0) 100%
      ),
      radial-gradient(
        at 78.47940016751653% 87.55551599150111%,
        hsla(211.03448275862067, 56.862745098039284%, 90%, 1) 0%,
        hsla(211.03448275862067, 56.862745098039284%, 90%, 0) 100%
      ),
      radial-gradient(
        at 66.39976667942473% 94.72660681024504%,
        hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 1) 0%,
        hsla(251.99999999999994, 38.46153846153849%, 94.90196078431372%, 0) 100%
      );
    border-radius: 15px;
    padding: 12px 18px;
    height: 100%;
  }
  &__title {
    margin: 0 0 10px;
    color: var(--text-plashka);
    font-weight: 700;
    font-size: 26px;
  }
  &__text {
    text-align: justify;
    color: var(--text-plashka);
  }
}

@keyframes seaWave {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
