.background {
  position: relative;
  min-height: 100lvh;
  width: 100%;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
    transition: background-image 0.5s ease-in-out;
  }

  &.main::before {
    background-image: url("@/assets/images/background/mainV.webp");
  }

  &.dolphin::before {
    background-image: url("@/assets/images/background/dolphinV.webp");
  }

  // Добавляем затемнение поверх фона
  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}
