.dolphin {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem;
    flex: 1;
  }
  &__item {
    padding: 0.4rem 0 0.4rem 1.75rem;
    position: relative;
    font-size: 0.95rem;
    color: #d4e8f5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.03);

    &.tour {
      text-align: start;
    }

    &:last-child {
      border-bottom: none;
    }

    &::before {
      content: "✓";
      position: absolute;
      left: 0;
      color: var(--primary-brand);
      font-weight: 600;
    }
  }
  &__subtitle {
    @include section-subtitle-small;
    margin-top: min(30px, 5vw);
    font-weight: 500;
  }
  &__text {
    @include text-second;
    color: rgba(var(--primary-white-rgb), 0.9);
    &.add {
      color: rgba(var(--primary-white-rgb), 0.7);
    }
  }
}
