.dolphin {
  &__list {
    @include list-main;
  }
  &__item {
    @include checklist-item;
  }
  &__subtitle {
    @include section-subtitle-small;
    margin-top: min(30px, 5vw);
    font-weight: 500;
  }
  &__text {
    @include text-second;
    color: rgba(var(--primary-white-rgb), 0.9);
    &.add {
      color: rgba(var(--primary-white-rgb), 0.7);
    }
  }
}
