.price {
  &__wrapper {
    width: min(700px, 90%);
    margin: 0 auto 30px;
    border-radius: min(20px, 5vw);
    padding: 18px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background: var(--primary-white);
  }
  &__title {
    margin: 0 0 10px;
    color: var(--text-plashka);
    font-weight: 700;
    font-size: 26px;
  }
  &__text {
    margin: 0 0 10px;
    color: var(--text-plashka);
  }
  &__value {
    margin: 0 0 10px;
    color: var(--text-plashka);
    font-size: 30px;
    font-weight: 700;
  }
}
